* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(25, 25, 45);
}

html {
  color-scheme: light dark;
}

header {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  height: 15vh;
}

.contenedor-ul-header {
  position: fixed;
  top: 10px;
  z-index: 1;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 20px;
}

.item-header {
  list-style-type: none;
}

.contenedor-ul-header a {
  text-decoration: none;
  transition: 0.3s linear;
  color: white;
}

.contenedor-ul-header a:hover {
  color: rgb(206, 134, 0);
}




/* parte dos  */

.contenedor-presentacion {
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  width: 90%;
  position: relative;
}

.contenedor-interior-presentacion {
  display: flex;
  flex-direction: column;

}

.parte-1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-disponible {
  background-color: rgb(50, 46, 82);
  color: white;
  border: solid 2px rgb(38, 104, 38);
  padding: 5px 20px;
  border-radius: 50px;
}

.image-logo {
  width: 70px;
  border-radius: 50%;
}

strong {
  color: rgb(247, 197, 103);
}

.parte-2 {
  position: relative;
  right: 7px;
  margin-top: 20px;
}


.btn-1 {
  background-color: rgb(31 41 55);
  font-size: 15px;
  border: solid 0.3px gainsboro;
  border-radius: 20px;
  padding: 8px 20px;
  margin: 5px;
}

.uno {
  margin: 20px 0;
}

.item-presentacion {
  list-style-type: none;
  font-size: 20px;
}

.contenedor-laboral {
  display: flex;
  flex-flow: column wrap;
  gap: 30px;
  margin-top: 60px;
  margin-left: 10px;
}

.hijo-0 {
  display: flex;
  align-items: center;
}


.contenedor-laboral h2 {
  color: yellow;
  
}

.contenedor-laboral h2, p, h4, a {
  margin: 10px 0;
}


.contenedor-laboral a {
  text-decoration: none;
  color: gold;
}

@media(width < 768px){
  .contenedor-ul-header {
    background-color: rgb(163, 153, 153);
    padding: 4px 20px;
    border-radius: 40px;
     max-width: 100%;
  }
  .item-header {
    font-size: 0.75rem;
  }
  
  .linea {
    position: absolute;
    top: 540px;
    right: 340px;
  }

}